<p id="notice"><%= notice %></p>

<p>
  <strong>Task date:</strong>
  <%= @task.task_date %>
</p>

<p>
  <strong>Time billed:</strong>
  <%= @task.time_billed %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @task.rate %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @task.notes %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%# link_to 'Edit', edit_task_path(@task) %> |
<%# link_to 'Back', tasks_path %>
